# Rules in this file were initially inferred by Visual Studio IntelliCode from the D:\src\anti_tamper codebase based on best match to current usage at 3/25/2021
# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
# further reference https://docs.microsoft.com/en-us/visualstudio/ide/cpp-editorconfig-properties?view=vs-2019

[*.{c++,cc,cpp,cxx,h,h++,hh,hpp,hxx,inl,ipp,tlh,tli}]

#use soft tabs (spaces) for indentation
indent_style = space
indent_size = 4
charset = utf-8
trim_trailing_whitespace = true

cpp_indent_case_contents_when_block = true
cpp_new_line_before_open_brace_namespace = same_line

cpp_indent_multi_line_relative_to = innermost_parenthesis 
cpp_indent_within_parentheses = indent
cpp_indent_braces = false

cpp_new_line_before_open_brace_namespace = new_line 
cpp_new_line_before_open_brace_type = new_line
cpp_new_line_before_open_brace_function = new_line

cpp_new_line_before_open_brace_block = same_line
cpp_new_line_before_open_brace_lambda = same_line

cpp_new_line_scope_braces_on_separate_lines = false
cpp_new_line_close_brace_same_line_empty_type = true
cpp_new_line_close_brace_same_line_empty_function = true
cpp_new_line_before_catch = false
cpp_new_line_before_else = false
cpp_new_line_before_while_in_do_while = false

cpp_space_before_function_open_parenthesis = remove
cpp_space_within_parameter_list_parentheses  = false
cpp_space_between_empty_parameter_list_parentheses = false
cpp_space_after_keywords_in_control_flow_statements = true
cpp_space_after_comma = true

cpp_space_pointer_reference_alignment = left
